@page "/Info/{id:int}"
@inject DatabaseContext DbContext
@inject PokemonImageGrabber ImageGrabber

<h3>Info</h3>

@if (pokemon is not null)
{
    
}
else
{
    <p>No pokemon found for that Id</p>
}

<div class="row g-0">
    <div class="col-md-3 me-1">
        <img src="@imageUrl" onerror="this.onerror=null;this.src='/img/notfound.png';" class="img-fluid img-thumbnail rounded-start" alt="@pokemon.Name" />
    </div>
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-body bg-light">
                <h5 class="card-title">@pokemon.Name</h5>
                <p>
                    <span class="badge rounded-pill bg-primary">@pokemon.Type</span>
                    <span class="badge rounded-pill bg-success">Generation @pokemon.Generation</span>
                    @if (pokemon.Legendary)
                    {
                        <span class="badge rounded-pill bg-warning">Legendary</span>
                    }
                </p>

                <div class="row g-2 mb-1">
                    <div class="col-md-2">HP:</div>
                    <div class="col-md-9">
                        <div class="progress progress-lg" style="height: 30px">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="@pokemon.HP" style="width: @(pokemon.HP*100/255)%" aria-valuemin="0" aria-valuemax="255"></div>
                        </div>
                    </div>
                    <div class="col-md-1">@pokemon.HP</div>
                </div>

                <div class="row g-2 mb-1">
                    <div class="col-md-2">Attack:</div>
                    <div class="col-md-9">
                        <div class="progress progress-lg" style="height: 30px">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="@pokemon.Attack" style="width: @(pokemon.Attack*100/255)%" aria-valuemin="0" aria-valuemax="255"></div>
                        </div>
                    </div>
                    <div class="col-md-1">@pokemon.Attack</div>
                </div>

                <div class="row g-2 mb-1">
                    <div class="col-md-2">Defence:</div>
                    <div class="col-md-9">
                        <div class="progress progress-lg" style="height: 30px">
                            <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="@pokemon.Defence" style="width: @(pokemon.Defence*100/255)%" aria-valuemin="0" aria-valuemax="255"></div>
                        </div>
                    </div>
                    <div class="col-md-1">@pokemon.Defence</div>
                </div>

                <div class="row g-2 mb-1">
                    <div class="col-md-2">Speed:</div>
                    <div class="col-md-9">
                        <div class="progress progress-lg" style="height: 30px">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="@pokemon.Speed" style="width: @(pokemon.Speed*100/255)%" aria-valuemin="0" aria-valuemax="255"></div>
                        </div>
                    </div>
                    <div class="col-md-1">@pokemon.Speed</div>
                </div>

                <div class="row g-2 mb-1">
                    <div class="col-md-2">Total:</div>
                    <div class="col-md-9">
                        <div class="progress progress-lg" style="height: 30px">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="@pokemon.Total" style="width: @(pokemon.Total*100/800)%" aria-valuemin="0" aria-valuemax="800"></div>
                        </div>
                    </div>
                    <div class="col-md-1">@pokemon.Total</div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int Id { get; set; }

    private Pokemon pokemon;

    private string? imageUrl { get; set; }

    protected override void OnInitialized()
    {
        pokemon = DbContext.Pokemons.SingleOrDefault(p => p.Id == Id);
    }

    protected override void OnParametersSet()
    {
        imageUrl = ImageGrabber.GetImageUrl(pokemon);
        base.OnParametersSet();
    }
}
